#header_tips {
  width: 100%;
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  .hdtips_center {
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    .hdtips_left ul {
      float: left;
      li {
        height: 38px;
        line-height: 38px;
        float: left;
        margin-right: 15px;
        span {
          color: #000;
        }
        a {
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
        button {
          background: none;
          border: none;
          font-size: 12px;
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
      }
    }
    .hdtips_right ul {
      float: right;
      li {
        margin: 10px 0;
        height: 14px;
        line-height: 14px;
        float: left;
        padding: 0 10px;
        border-right: 1px dotted #ccc;
        position: relative;
        &:hover i {
          background-position: -10px 0;
        }
        &:hover ul {
          height: auto;
          opacity: 1;
          display: block;
        }
        a {
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
        i {
          width: 10px;
          height: 6px;
          float: right;
          margin: 5px 0 0 5px;
          background: url(../img/header/ico-2015-12.png) -10px -6px no-repeat;
        }
        ul {
          margin-top: 51px;
          position: absolute;
          border: 1px solid #ccc;
          background: #fff;
          top: -23px;
          left: -1px;
          padding: 0 10px 10px 16px;
          z-index: 2;
          width: 60px;
          line-height: 20px;
          overflow: hidden;
          height: 0;
          opacity: 0;
          display: none;
          transition: all 0.5s;
          li {
            width: 60px;
            padding-right: 30px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin: 0 auto;
            a {
              display: inline-block;
              color: #999;
              &:hover {
                color: #ae1219;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  width: 100%;
  height: 447px;
  background: #fff;
  border-top: 1px solid rgb(204, 204, 204);
  .footer_happy {
    width: 1120px;
    height: 72px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 0 auto;
    dl {
      float: left;
      width: 280px;
      height: 50px;
      margin-top: 22px;
      dt {
        float: left;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background: url(../img/footer/ico-2015-12s.png) 0 0 no-repeat;
      }
      dd {
        float: left;
        width: 112px;
        height: 34px;
        margin-top: 6px;
        font-size: 14px;
        line-height: 34px;
      }
    }
  }
  .footer_aboutus {
    margin: 0 auto;
    width: 1200px;
    height: 154px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px dashed rgb(204, 204, 204);
    dl {
      width: 145px;
      height: 106px;
      float: left;
      dt {
        width: 145px;
        height: 24px;
        padding-bottom: 10px;
        font-size: 20px;
      }
      dd {
        width: 145px;
        height: 24px;
        a {
          color: rgb(51, 51, 51);
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
  .footer_tips {
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    padding: 20px 0;
    background: #000;
    .footer_tipsleft {
      float: left;
      width: 970px;
      height: 60px;
      a {
        color: #fff;
      }
      span {
        display: block;
        color: #fff;
        margin-top: 5px;
      }
    }
    .footer_tipsright {
      width: 230px;
      float: left;
      text-align: right;
      background: url(../img/header/ico-2015-12.png) 0 -646px no-repeat;
      span {
        display: block;
        color: #fff;
        margin-top: 8px;
      }
    }
  }
}

.goods_box {
  background: #fff;
  width: 980px;
  margin: 0 auto 50px;
  ul.goods_list {
    li {
      width: 980px;
      height: 65px;
      padding-top: 20px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f5f5f5;
      .checkbox {
        width: 40px;
        height: 65px;
        text-align: center;
        line-height: 64px;
        float: left;
      }
      .cart_good {
        float: left;
        width: 390px;
        height: 65px;
        a.img {
          width: 60px;
          height: 60px;
          float: left;
          border: 1px solid #e5e5e5;
          img {
            width: 60px;
            height: 60px;
          }
        }
        a.word {
          width: 313px;
          height: 65px;
          padding-left: 15px;
          float: left;
          line-height: 64px;
          color: #003b5c;
          cursor: pointer;
        }
      }
      span.price {
        display: block;
        width: 180px;
        height: 65px;
        line-height: 64px;
        float: left;
        text-align: center;
        color: #003b5c;
      }
      div.store {
        width: 105px;
        height: 65px;
        float: left;
        div.goodsadd {
          width: 104px;
          height: 24px;
          margin-top: 20px;
          a.sub {
            line-height: 24px;
            text-align: center;
            float: left;
            cursor: pointer;
            width: 24px;
            height: 22px;
            border: 1px solid #c9c9c9;
            color: #003b5c;
          }
          input {
            float: left;
            width: 50px;
            border: 1px solid #cccccc;
            height: 22px;
            line-height: 22px;
            text-align: center;
            margin: 0 -1px;
            font-size: 14px;
            color: #003b5c;
          }
          a.add {
            border: 1px solid #c9c9c9;
            width: 24px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            display: block;
            float: left;
            font-size: 18px;
            color: #003b5c;
          }
          p {
            color: #003b5c;
            float: left;
            display: inline;
            width: 105px;
            text-align: center;
            padding-top: 5px;
          }
        }
      }
      div.total_price {
        float: left;
        height: 65px;
        line-height: 64px;
        display: inline;
        width: 170px;
        text-align: center;
        color: #a40e59;
      }
      div.operation {
        width: 93px;
        height: 65px;
        float: right;
        a {
          display: block;
          width: 50px;
          height: 22px;
          text-align: right;
          line-height: 22px;
          margin: 5px auto;
          color: #97a1ad;
        }
      }
    }
  }
}

.recommend {
  width: 1200px;
  margin: 20px auto 0;
  box-shadow: 0px 1px 3px #eee;
  a,
  a img {
    display: block;
    width: 1200px;
  }
}

.cart_box {
  background: #fff;
  width: 100%;
  height: 88px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f9f9f9;
  .cart_header {
    margin: 0 auto;
    width: 980px;
    height: 90px;
    .cart_logo {
      float: left;
      width: 160px;
      height: 78px;
      margin-right: 20px;
      a img {
        widows: 160px;
        height: 78px;
      }
    }
    .cart_title {
      width: 200px;
      height: 90px;
      float: left;
      font-size: 20px;
      line-height: 90px;
      color: #333;
    }
    .cart_status {
      width: 510px;
      height: 35px;
      margin-top: 25px;
      margin-left: 80px;
      float: left;
      background: url(../img/cart/lico.png) 0 -35px no-repeat;
    }
  }
}

.login_box {
  width: 980px;
  height: 60px;
  margin: 0 auto 15px;
  background: url(../img/cart/3.jpg) no-repeat;
}

.goodsbox_header {
  width: 980px;
  height: 100px;
  margin: 0 auto;
  a img {
    width: 980px;
    height: 100px;
  }
}

.cart_settlement {
  background: #ffffff;
  border-top: 2px solid #ca257b;
  height: 80px;
  width: 980px;
  margin: 0 auto;
  color: #003b5c;
  border-bottom: 1px solid #efefef;
  .settle_left {
    float: left;
    padding: 34px 10px 0 20px;
    color: #003b5c;
    a {
      color: #003b5c;
      cursor: pointer;
      margin-left: 15px;
    }
  }
  .settle_right {
    float: right;
    margin-right: 25px;
    color: #003b5c;
    li {
      float: left;
      height: 80px;
      text-align: center;
      line-height: 80px;
      color: #003b5c;
      padding-right: 20px;
    }
    li.total_price {
      color: #cc0033;
      font-size: 24px;
    }
    li.settle a {
      margin-top: 15px;
      display: block;
      background-color: rgb(164, 14, 89);
      width: 160px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #ffffff;
      text-align: center;
      display: block;
      font-size: 20px;
    }
  }
}
