#header_tips {
  width: 100%;
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  .hdtips_center {
    width: 1200px;
    height: 38px;
    margin: 0 auto;
    .hdtips_left ul {
      float: left;
      li {
        height: 38px;
        line-height: 38px;
        float: left;
        margin-right: 15px;
        span {
          color: #000;
        }
        a {
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
        button {
          background: none;
          border: none;
          font-size: 12px;
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
      }
    }
    .hdtips_right ul {
      float: right;
      li {
        margin: 10px 0;
        height: 14px;
        line-height: 14px;
        float: left;
        padding: 0 10px;
        border-right: 1px dotted #ccc;
        position: relative;
        &:hover i {
          background-position: -10px 0;
        }
        &:hover ul {
          height: auto;
          opacity: 1;
          display: block;
        }
        a {
          color: #999;
          cursor: pointer;
          &:hover {
            color: #ae1219;
          }
        }
        i {
          width: 10px;
          height: 6px;
          float: right;
          margin: 5px 0 0 5px;
          background: url(../img/header/ico-2015-12.png) -10px -6px no-repeat;
        }
        ul {
          margin-top: 51px;
          position: absolute;
          border: 1px solid #ccc;
          background: #fff;
          top: -23px;
          left: -1px;
          padding: 0 10px 10px 16px;
          z-index: 2;
          width: 60px;
          line-height: 20px;
          overflow: hidden;
          height: 0;
          opacity: 0;
          display: none;
          transition: all 0.5s;
          li {
            width: 60px;
            padding-right: 30px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin: 0 auto;
            a {
              display: inline-block;
              color: #999;
              &:hover {
                color: #ae1219;
              }
            }
          }
        }
      }
    }
  }
}

#header_search {
  width: 100%;
  height: 130px;
  background: #fff;
  .hdsearch_center {
    margin: 0 auto;
    width: 1200px;
    height: 130px;
    a h1 {
      width: 160px;
      height: 90px;
      float: left;
      margin-top: 20px;
      background: url(../img/header/leico.png) center no-repeat;
    }
    .hd_search {
      float: left;
      width: 530px;
      height: 53px;
      margin-top: 38px;
      margin-left: 180px;
      input {
        float: left;
        border: 1px solid #a40c59;
        display: inline;
        height: 28px;
        line-height: 28px;
        padding: 0 80px 0 10px;
        width: 378px;
        color: #666;
      }
      .hd_searchinput a {
        float: left;
        width: 60px;
        height: 30px;
        background: url(../img/header/btn-search.png) center no-repeat;
      }
      ul {
        margin-top: 10px;
        li {
          float: left;
          a {
            color: #999;
            &:hover {
              color: #ae1219;
            }
          }
        }
      }
    }
    .hd_cart {
      height: 28px;
      width: 154px;
      float: right;
      margin-top: 38px;
      border: 1px solid #a40c59;
      a {
        color: #999;
        .my_cart {
          height: 30px;
          float: left;
          line-height: 30px;
          display: inline;
          background: #a40c59 url(../img/header/ico-2015-12.png) 10px -47px no-repeat;
          width: 70px;
          padding-left: 40px;
        }
        .goods_num {
          float: left;
          width: 6px;
          height: 30px;
          line-height: 30px;
          margin-left: 10px;
        }
        i {
          height: 6px;
          width: 10px;
          float: left;
          margin-top: 12px;
          margin-left: 10px;
          background: url(../img/header/ico-2015-12.png) -20px -6px no-repeat;
        }
      }
    }
  }
}

#header_nav {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #a21459;
  ul {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    li.hd_allgoods {
      position: relative;
      width: 166px;
      margin-right: 25px;
      background: #222 url(../img/header/ico-2015-12.png) 130px -573px no-repeat;
      &:hover {
        background: #222 url(../img/header/ico-2015-12.png) 130px -547px no-repeat;
      }
      a.a_allgoods {
        color: #fff;
        background: url(../img/header/ico-2015-12.png) 3px -610px no-repeat;
        line-height: 28px;
        padding-left: 35px;
      }
      ul {
        position: absolute;
        left: 0;
        top: 30px;
        width: 166px;
        background: #f8f8f8;
        height: 400px;
        z-index: 100;
        li {
          margin-left: 4px;
          width: 160px;
          height: 59px;
          &:hover div.box {
            display: block;
          }
          h2 {
            background-image: url(../img/header/sorticon_xuan.png);
            color: #414141;
            font-size: 14px;
            line-height: 49px;
            width: 122px;
            padding-left: 40px;
            height: 49px;
            border-bottom: 1px solid #e4e4e4;
            background-repeat: no-repeat;
            background-position: 0 center;
            &:hover {
              background: #5f5764;
            }
          }
          div.box {
            position: absolute;
            top: 0;
            left: 166px;
            display: none;
            width: 690px;
            height: 390px;
            left: 166px;
            padding-top: 10px;
            background: #fff;
            position: absolute;
            z-index: 2;
            border-top: 1px solid #a21459;
            div.img {
              float: right;
              width: 275px;
              height: 350px;
              padding-right: 5px;
              img {
                width: 280px;
                height: 350px;
              }
            }
            div.list {
              line-height: 20px;
              width: 280px;
              height: 187px;
              margin-left: 30px;
              b {
                display: block;
                width: 280px;
                height: 20px;
                border-bottom: 1px solid #e4e4e4;
                padding-top: 10px;
                font-size: 12px;
                color: #a40c59;
              }
              a {
                display: inline-block;
                float: left;
                color: #666;
                height: 20px;
                font-size: 12px;
                padding-right: 5px;
              }
            }
            div.price {
              width: 280px;
              height: 75px;
              line-height: 20px;
              margin-left: 30px;
              b {
                display: block;
                width: 280px;
                height: 20px;
                border-bottom: 1px solid #e4e4e4;
                padding-top: 10px;
                font-size: 12px;
                color: #a40c59;
              }
              a {
                display: inline-block;
                float: left;
                color: #666;
                height: 20px;
                font-size: 12px;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
    li {
      float: left;
      height: 30px;
      a {
        color: #444;
        font-size: 16px;
        margin-right: 30px;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

/*------- 登录开始 -----*/

#loginbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100%;
  width: 100%;
  background: #000000;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  opacity: 0.3;
}

#login {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 293px;
  z-index: 201;
  background: #ffffff;
  h2 input {
    height: 18px;
    width: 18px;
    float: right;
    border: none;
    cursor: pointer;
    margin: 2px 6px 0 0;
  }
  h2 a {
    display: block;
    float: left;
    width: 83px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #666;
  }
  h2 a.cur {
    color: #f00;
  }
  ul {
    padding: 14px 0 18px 12px;
    li {
      padding-left: 60px;
      margin-top: 10px;
      display: inline-block;
    }
    li {
      display: block;
    }
    li: after;
  }
}

/*------- 登录结束 -----*/
