.reg_top {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #eee;
  .reg_toplogo {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    a {
      img {
        margin: 30px 0 0 45px;
        background-image: none;
        height: 47px;
        width: auto;
      }
    }
    ul {
      height: 20px;
      position: absolute;
      top: 59px;
      right: 45px;
      font-size: 14px;
      color: #a4a4a4;
      li {
        height: 20px;
        line-height: 20px;
        float: left;
        border-right: 1px solid #a4a4a4;
        padding: 0 10px;
        span {
        }
        a {
          text-decoration: underline;
          color: #a4a4a4;
          &:hover {
            color: blue;
          }
        }
      }
      li.help {
        border: none;
      }
    }
  }
}

.reg_content {
  width: 100%;
  height: 483px;
  background: url(../img/reg/2.jpg) no-repeat;
  .reg_box {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    .reg_user {
      width: 430px;
      height: 460px;
      background: #fff;
      float: right;
      margin-right: 10px;
      margin-top: 14px;
      position: relative;
      .reg_userbox {
        width: 380px;
        height: 368px;
        margin-left: 25px;
        margin-right: 25px;
        p {
          width: 380px;
          height: 24px;
          padding-top: 8px;
          padding-bottom: 8px;
          margin-top: 11px;
          span {
            float: left;
            color: #333;
            font-size: 18px;
          }
          a {
            color: #529bef;
            float: right;
            font-size: 14px;
          }
        }
        .reg_userform {
          width: 380px;
          height: 305px;
          margin-top: 23px;
          ul {
            width: 380px;
            height: 305px;
            li.form_input {
              width: 378px;
              height: 42px;
              border: 1px solid #ccc;
              margin-bottom: 15px;
              i {
                display: inline-block;
                float: left;
                width: 25px;
                height: 29px;
                margin-top: 6px;
                margin-left: 14px;
                background: url(../img/reg/2.png) 4px 5px no-repeat;
              }
              i.pwd {
                display: inline-block;
                float: left;
                width: 25px;
                height: 29px;
                margin-top: 6px;
                margin-left: 14px;
                background: url(../img/reg/2.png) -198px 3px no-repeat;
              }
              input {
                width: 270px;
                height: 23px;
                padding-top: 9px;
                padding-bottom: 10px;
                line-height: 22px;
              }
            }
            li.input_code {
              width: 378px;
              height: 42px;
              border: 1px solid #ccc;
              margin-bottom: 15px;
            }
            li.verify_code {
              width: 380px;
              height: 42px;
              span {
                width: 228px;
                margin-bottom: 0;
                display: block;
                height: 40px;
                line-height: 40px;
                float: left;
                overflow: hidden;
                position: relative;
                border: 1px solid #ccc;
              }
              a {
                height: 40px;
                line-height: 40px;
                width: 134px;
                float: right;
                display: block;
                color: #419ce3;
                border: 1px solid #419ce3;
                text-align: center;
                font-size: 14px;
                overflow: hidden;
              }
            }
            li.agree {
              width: 380px;
              height: 22px;
              padding-top: 11px;
              padding-bottom: 11px;
              label {
                width: 363px;
                height: 22px;
              }
            }
            li.user_reg {
              width: 380px;
              height: 42px;
              a {
                width: 376px;
                height: 38px;
                border: 2px solid #009de6;
                background: #009de6;
                color: #fff;
                font-size: 18px;
                text-align: center;
                display: block;
                line-height: 38px;
              }
            }
          }
        }
      }
    }
  }
}
