#header_tips {
  width: 100%;
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#header_tips .hdtips_center {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
}

#header_tips .hdtips_center .hdtips_left ul {
  float: left;
}

#header_tips .hdtips_center .hdtips_left ul li {
  height: 38px;
  line-height: 38px;
  float: left;
  margin-right: 15px;
}

#header_tips .hdtips_center .hdtips_left ul li span {
  color: #000;
}

#header_tips .hdtips_center .hdtips_left ul li a {
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_left ul li a:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_left ul li button {
  background: none;
  border: none;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_left ul li button:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_right ul {
  float: right;
}

#header_tips .hdtips_center .hdtips_right ul li {
  margin: 10px 0;
  height: 14px;
  line-height: 14px;
  float: left;
  padding: 0 10px;
  border-right: 1px dotted #ccc;
  position: relative;
}

#header_tips .hdtips_center .hdtips_right ul li:hover i {
  background-position: -10px 0;
}

#header_tips .hdtips_center .hdtips_right ul li:hover ul {
  height: auto;
  opacity: 1;
  display: block;
}

#header_tips .hdtips_center .hdtips_right ul li a {
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_right ul li a:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_right ul li i {
  width: 10px;
  height: 6px;
  float: right;
  margin: 5px 0 0 5px;
  background: url(../img/header/ico-2015-12.png) -10px -6px no-repeat;
}

#header_tips .hdtips_center .hdtips_right ul li ul {
  margin-top: 51px;
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  top: -23px;
  left: -1px;
  padding: 0 10px 10px 16px;
  z-index: 2;
  width: 60px;
  line-height: 20px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

#header_tips .hdtips_center .hdtips_right ul li ul li {
  width: 60px;
  padding-right: 30px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
}

#header_tips .hdtips_center .hdtips_right ul li ul li a {
  display: inline-block;
  color: #999;
}

#header_tips .hdtips_center .hdtips_right ul li ul li a:hover {
  color: #ae1219;
}

#footer {
  width: 100%;
  height: 447px;
  background: #fff;
  border-top: 1px solid #cccccc;
}

#footer .footer_happy {
  width: 1120px;
  height: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

#footer .footer_happy dl {
  float: left;
  width: 280px;
  height: 50px;
  margin-top: 22px;
}

#footer .footer_happy dl dt {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: url(../img/footer/ico-2015-12s.png) 0 0 no-repeat;
}

#footer .footer_happy dl dd {
  float: left;
  width: 112px;
  height: 34px;
  margin-top: 6px;
  font-size: 14px;
  line-height: 34px;
}

#footer .footer_aboutus {
  margin: 0 auto;
  width: 1200px;
  height: 154px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px dashed #cccccc;
}

#footer .footer_aboutus dl {
  width: 145px;
  height: 106px;
  float: left;
}

#footer .footer_aboutus dl dt {
  width: 145px;
  height: 24px;
  padding-bottom: 10px;
  font-size: 20px;
}

#footer .footer_aboutus dl dd {
  width: 145px;
  height: 24px;
}

#footer .footer_aboutus dl dd a {
  color: #333333;
  cursor: pointer;
}

#footer .footer_aboutus dl dd a:hover {
  color: red;
}

#footer .footer_tips {
  width: 1200px;
  margin: 0 auto;
  height: 60px;
  padding: 20px 0;
  background: #000;
}

#footer .footer_tips .footer_tipsleft {
  float: left;
  width: 970px;
  height: 60px;
}

#footer .footer_tips .footer_tipsleft a {
  color: #fff;
}

#footer .footer_tips .footer_tipsleft span {
  display: block;
  color: #fff;
  margin-top: 5px;
}

#footer .footer_tips .footer_tipsright {
  width: 230px;
  float: left;
  text-align: right;
  background: url(../img/header/ico-2015-12.png) 0 -646px no-repeat;
}

#footer .footer_tips .footer_tipsright span {
  display: block;
  color: #fff;
  margin-top: 8px;
}

.goods_box {
  width: 980px;
  margin: 50px auto;
}

.goods_box ul.goods_list li {
  width: 980px;
  background: yellow;
  height: 65px;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}

.goods_box ul.goods_list li .checkbox {
  width: 40px;
  height: 65px;
  text-align: center;
  line-height: 64px;
}
