@charset "UTF-8";
#header_tips {
  width: 100%;
  height: 38px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

#header_tips .hdtips_center {
  width: 1200px;
  height: 38px;
  margin: 0 auto;
}

#header_tips .hdtips_center .hdtips_left ul {
  float: left;
}

#header_tips .hdtips_center .hdtips_left ul li {
  height: 38px;
  line-height: 38px;
  float: left;
  margin-right: 15px;
}

#header_tips .hdtips_center .hdtips_left ul li span {
  color: #000;
}

#header_tips .hdtips_center .hdtips_left ul li a {
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_left ul li a:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_left ul li button {
  background: none;
  border: none;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_left ul li button:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_right ul {
  float: right;
}

#header_tips .hdtips_center .hdtips_right ul li {
  margin: 10px 0;
  height: 14px;
  line-height: 14px;
  float: left;
  padding: 0 10px;
  border-right: 1px dotted #ccc;
  position: relative;
}

#header_tips .hdtips_center .hdtips_right ul li:hover i {
  background-position: -10px 0;
}

#header_tips .hdtips_center .hdtips_right ul li:hover ul {
  height: auto;
  opacity: 1;
  display: block;
}

#header_tips .hdtips_center .hdtips_right ul li a {
  color: #999;
  cursor: pointer;
}

#header_tips .hdtips_center .hdtips_right ul li a:hover {
  color: #ae1219;
}

#header_tips .hdtips_center .hdtips_right ul li i {
  width: 10px;
  height: 6px;
  float: right;
  margin: 5px 0 0 5px;
  background: url(../img/header/ico-2015-12.png) -10px -6px no-repeat;
}

#header_tips .hdtips_center .hdtips_right ul li ul {
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  top: -23px;
  left: -1px;
  padding: 44px 10px 10px 16px;
  z-index: 2;
  width: 60px;
  line-height: 20px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

#header_tips .hdtips_center .hdtips_right ul li li {
  width: 60px;
  height: 20px;
  line-height: 20px;
  margin: 0 auto;
}

#header_tips .hdtips_center .hdtips_right ul li li a {
  color: #999;
}

#header_tips .hdtips_center .hdtips_right ul li li a:hover {
  color: #ae1219;
}

/*------------------------- 登录框开始 ----------------------*/
.ui-dialog {
  width: 400px;
  height: 400px;
}

.ui-dialog-titlebar {
  display: none;
}

userlogin {
  width: 600px;
  height: 600px;
}

/*------------------------- 登录框结束 ---------------------*/
#header_search {
  width: 100%;
  height: 130px;
  background: #fff;
}

#header_search .hdsearch_center {
  margin: 0 auto;
  width: 1200px;
  height: 130px;
}

#header_search .hdsearch_center a h1 {
  width: 160px;
  height: 90px;
  float: left;
  margin-top: 20px;
  background: url(../img/header/leico.png) center no-repeat;
}

#header_search .hdsearch_center .hd_search {
  float: left;
  width: 530px;
  height: 53px;
  margin-top: 38px;
  margin-left: 180px;
}

#header_search .hdsearch_center .hd_search input {
  float: left;
  border: 1px solid #a40c59;
  display: inline;
  height: 28px;
  line-height: 28px;
  padding: 0 80px 0 10px;
  width: 378px;
  color: #666;
}

#header_search .hdsearch_center .hd_search .hd_searchinput a {
  float: left;
  width: 60px;
  height: 30px;
  background: url(../img/header/btn-search.png) center no-repeat;
}

#header_search .hdsearch_center .hd_search ul {
  margin-top: 10px;
}

#header_search .hdsearch_center .hd_search ul li {
  float: left;
}

#header_search .hdsearch_center .hd_search ul li a {
  color: #999;
}

#header_search .hdsearch_center .hd_search ul li a:hover {
  color: #ae1219;
}

#header_search .hdsearch_center .hd_cart {
  height: 28px;
  width: 154px;
  float: right;
  margin-top: 38px;
  border: 1px solid #a40c59;
}

#header_search .hdsearch_center .hd_cart a {
  color: #999;
}

#header_search .hdsearch_center .hd_cart a .my_cart {
  height: 30px;
  float: left;
  line-height: 30px;
  display: inline;
  background: #a40c59 url(../img/header/ico-2015-12.png) 10px -47px no-repeat;
  width: 70px;
  padding-left: 40px;
}

#header_search .hdsearch_center .hd_cart a .goods_num {
  float: left;
  width: 6px;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}

#header_search .hdsearch_center .hd_cart a i {
  height: 6px;
  width: 10px;
  float: left;
  margin-top: 12px;
  margin-left: 10px;
  background: url(../img/header/ico-2015-12.png) -20px -6px no-repeat;
}

#header_nav {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #a21459;
}

#header_nav ul {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

#header_nav ul li.hd_allgoods {
  position: relative;
  width: 166px;
  margin-right: 25px;
  background: #222 url(../img/header/ico-2015-12.png) 130px -573px no-repeat;
}

#header_nav ul li.hd_allgoods:hover {
  background: #222 url(../img/header/ico-2015-12.png) 130px -547px no-repeat;
}

#header_nav ul li.hd_allgoods a.a_allgoods {
  color: #fff;
  background: url(../img/header/ico-2015-12.png) 3px -610px no-repeat;
  line-height: 28px;
  padding-left: 35px;
}

#header_nav ul li {
  float: left;
  height: 30px;
}

#header_nav ul li a {
  color: #444;
  font-size: 16px;
  margin-right: 30px;
  height: 30px;
  line-height: 30px;
}
